<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information</title>
</head>
<body>
    <h1>Student Information</h1>
    <h3>Name: <%= student.name %></h3>
    <h3>Email: <%= student.email %></h3>
    <h3>Age: <%= student.age %> years old</h3>
    <h3>Subjects studied are:</h3>
    <% if (student.age > 18 ) { %>
        <% student.subjects2.forEach(subject => { %>
            <li>
                <%= subject %>
            </li>
        <% }) %>

    <% } else { %>
        <% student.subjects.forEach(subject => { %>
            <li>
                <%= subject %>
            </li>
        <%})%>

    <% } %>
</body>
</html>